<html>
<div id="div_widget">
    <form>
        <script async src="https://infocert-agent-cl.dizme.io/widget-svc-static/widget_viewer/dizme_widget.js"
            data-dizme-api="000-111-222" data-onauth="onDizmeAuth(res)" data-ondebug="onDebug(res)"
            data-request-orgid="HSystem" data-request-restrictions="{}" data-request-userid="default_user_id"
            data-request-context="" data-request-mread="true" data-request-prid="PROOF_PSYSTEM_0000002"
            data-request-requestuid="<%= requestUID %>" data-lang="it" data-size-widget="large"></script>
        <script type="text/javascript">
            var formFooterStatus = true;
            function onDizmeAuth(res) {
                console.log(res);
                if (res.proof_status === "SUCCESS") {
                } else if (res.proof_status === "FAILURE") {
                } else if (res.proof_status === "ABORTED") {
                }
            }
        </script>
    </form>
</div>

</html>